/* MAC 16 1728x1085*/

@font-face {
    font-family: 'custom';
    src: url("../fonts/RemixB-Regular-QU-fixed---Copia.TTF");
  }

*{
   font-family: 'custom', sans-serif;
    text-decoration: none;
    margin: 0;
}

html{
    font-family: 'custopm', sans-serif;
}

a{
    color: unset;
}

a:hover{
   -webkit-text-fill-color: white;
   -webkit-text-stroke-width: 0.5px;
}

.homeLay{
    margin: 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 94vh;
    font-size: 90px;
    line-height: 93px;
    letter-spacing: -2px;
}

.div-block{
    display: flex;
    justify-content: space-between;
}

.text{
    font-size: 85px;
    line-height: 83px;
}

.list{
    display: flex;
    font-size: 70px;
    line-height: 6.5vh;
    letter-spacing: -2px;
    mix-blend-mode: lighten;
    flex-direction: column;
}

.exit{
    transform: translateY(-2vh);
    font-size: 6vh;
    line-height: 93px;
    letter-spacing: -2px;
    font-feature-settings: "ss02" 1;
}

/*navigation bar styles*/
.container-nav{
    line-height: 93px;
    -webkit-text-fill-color: white;
    margin-left: 15px;
    margin-right: 15px;
    -webkit-text-stroke-width: 0.8px;
    z-index: 1;
    position: fixed;
    width: 98%;
    display: flex;
    justify-content: space-between;
}
.text-nav{
    font-size: 70px;
}
.back{
    -webkit-text-fill-color: white;
    font-feature-settings: "ss02" 1;
    line-height: 93px;
    font-size: 75px;
    letter-spacing: -2px;
}

/*nav bar*/

.container{
    hyphens: auto;
    overflow-wrap: break-word;
    text-align: justify;
}

/* grid manifesto */

.grid-manifesto{
    display: grid;
    gap: 0.5vh;
    padding: 0px 2vw 0px 2vw;
    grid-template-columns: 30vw 1fr;
}

.takeAll{
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 2.3vw;
    line-height: 2.3vw;
    letter-spacing: -1.8px;
    text-align: justify;
}

#gap-para{
    margin-bottom: 20px;
}

#last-para{
    margin-bottom: 40px;
}

.indented-text {
    grid-column-start: 2;
    text-align: justify;
    margin-right: 28px;
    color: #000;
    font-family: 'custom', sans-serif;
    font-size: 2.3vw;
    line-height: 2.3vw;
}
.heading-text{
font-family: 'custom', sans-serif;
height: 53px;
text-align: justify;
color: #fff;
letter-spacing: -2.5px;
-webkit-text-stroke-width: 0.8px;
-webkit-text-stroke-color: black;
margin-right: 28px;
margin-bottom: -53px;
font-size: 2.3vw;
font-weight: 400;
line-height: 2.3vw;
position: static;
}

.nr-list , .text-list{
    font-size: 2.3vw;
}

.list-text{
    font-family: 'custom', sans-serif;
    text-indent: 28px; /* Regola l'indentazione desiderata in pixel */
    margin-left: 28px;
    margin-right: 28px;
    color: #000;
    font-family: 'custom';
    font-size: 53px;
    line-height: 56px;
}

.lista{
    font-family: 'custom', sans-serif;
    grid-column-start: 1;
    text-align: justify;
}

.video{
    text-align: center;
    margin-top: 15vh;
}

#tool-video{
    margin-top: 110px;
    width: 60vw;
}

.img{
    width: 420px;
    height: 420px;
}

.tool-gallery{
    margin-top: 30px;
    display: flex;
    gap: 3vw;
    flex-wrap: wrap;
    justify-content: center;
}

.img > img{
    width: 100%;
    height: 100%;
    cursor: pointer;
    object-fit: cover;
}

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
  }

  .lightbox img {
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
  }

.body-pages{
    font-feature-settings: "ss02" 1;
}

.tool-body{
    margin-top: -15vh;
    display: block;
    justify-content: center;
    margin-bottom: 10vh;
}

.contacts{
    font-family: 'custom', sans-serif;
    display: flex;
    margin-left: 25vw;
    padding-top: 90px;
    padding-bottom: 30px;
    font-size: 33px;
    line-height: 40px;
    letter-spacing: -2.2px;
}

.lay{
    padding: 200px;
    width: 100px;
    display: flex;
    justify-content: center;
}

#images{
    height: 190px;
    object-fit: contain;
}

#first{
    padding-top: 80px;
}

/** archive page **/

.timeSX{
    grid-column: 2;
}

.timeDX{
    grid-column: 4;

}


.archive-container {
    font-size: 28px;
    padding-top: 120px;
    padding-bottom: 80px;
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr 80px 1fr 80px 1fr;
    grid-auto-rows: min-content;
    grid-area: ". timeSX . timeDX .";
  }
  
.img-hover{
    width: 41vw;
    height: 600px;
    object-fit: contain;
}

.description{
    font-size: 25px;
}

.cardSX{
    text-align: right;
    transform: translateX(-22vw);
    width: 44vw;
    display: none;
}
.cardDX{
    text-align: left;
    transform: translateX(-10.2vw);
    transform: translateX(-9vw);
    width: 40vw;
    display: none;
}

#event-title{
    transform: translateX(1.8vw);
}


/* GALLERY */
.gallery-grid {
    display: grid;
    overflow: hidden;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-template-columns: repeat(2, 1fr);
  }
  

  #event {
    font-size: 2vw;
    grid-column-start: 1;
  }
  
.container-slide {
    display: grid;
    height: 86vh;
    overflow-x: hidden;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px;
    grid-column: 1 / span 6;
}

.column > video{
    width: 100%;
}
.title-gallery{
    position: fixed;
    padding: 0vw 2vw 0vw 2vw;
    transform: translateY(-1vh);
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    justify-content: space-between;
}

::-webkit-scrollbar{
    display: none;
}

.column {
    overflow-y: scroll; 
    scroll-snap-type: y mandatory; 
    scroll-padding: 10px; 
}
  
.card-img {
    scroll-snap-align: start;
}
  
  .card-img > img {
    width: 100%;
  }
/* MOBILE */

@media only screen and (max-width: 450px) {
    /*home*/
    .list > a{
        font-size: 6vh;
    }
    .exit{
        transform: translateY(-4vh);
        font-size: 5vh;
    }

    .list{
        font-size: 5vh;
        line-height: 6vh;
    }

    /* nav */
    .text-nav{
        font-size: 6vh;
    }
    .back{
        font-size: 6vh;
    }
    .container-nav{
        margin-top: 0.1vh;
        width: 100vw;
    }
}