@font-face {
    font-family: customFont;
    src: url(/Square-Three-Dots-Square/fonts/RemixB-Regular-QU-fixed---Copia.TTF) format("truetype");
  }

*{
    font-family: customFont;
    text-decoration: none;
    margin: 0;
}

a{
    color: unset;
}

a:hover{
   -webkit-text-fill-color: white;
   -webkit-text-stroke-width: 0.5px;
}


.homeLay{
    margin: 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 94vh;
}

.div-block{
    display: flex;
    justify-content: space-between;
    font-size: 80px;
}

.text{
    font-size: 80px;
    line-height: 86px;
}

.list{
    display: flex;
    flex-direction: column;
}

/*navigation bar styles*/
.container-nav{
    -webkit-text-fill-color: white;
    margin-left: 30px;
    -webkit-text-stroke-width: 2px;
    z-index: 1;
    position: fixed;
    width: 97%;
    display: flex;
    justify-content: space-between;
}

.text-nav{
    font-size: 90px;
}
.back{
    -webkit-text-fill-color: white;
    font-size: 90px;
}

/*nav bar*/

.container{
    hyphens: auto;
    overflow-wrap: break-word;
    text-align: justify;
}

.indented-text {
    text-indent: 465px; /* Regola l'indentazione desiderata in pixel */
    margin-left: 28px;
    margin-right: 28px;
    color: #000;
    font-family: customFont;
    font-size: 53px;
    line-height: 56px;
    text-align: justify;
}
.heading-text{
height: 53px;
color: #fff;
letter-spacing: -2.5px;
-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: black;
margin-left: 28px;
margin-right: 28px;
margin-bottom: -53px;
font-family: customFont;
font-size: 53px;
font-weight: 400;
line-height: 56px;
position: static;
}
.list-text{
  text-indent: 28px; /* Regola l'indentazione desiderata in pixel */
    margin-left: 28px;
    margin-right: 28px;
    color: #000;
    font-family: customFont;
    font-size: 53px;
    line-height: 56px;
}

li{
    line-height: 56px;
    letter-spacing: -2.2px;
    font-size: 53px;
    text-indent: 400px;
    text-align: justify;
}

.lista{
    
    margin-left: 70px;
    text-align: justify;
}

.video{
    margin-top: 150px;
}

.tool-body{
    display: flex;
    justify-content: center;
}
.contacts{
    display: flex;
    margin-left: 500px;
    padding-top: 70px;
    font-size: 53px;
    line-height: 56px;
    letter-spacing: -2.2px;
}