.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.grid {
  grid-column-gap: 16px;
  grid-row-gap: 0px;
  grid-template: "."
                 "Area"
                 "."
                 "."
                 "."
                 "."
                 "."
                 / 1fr 1fr 1fr 1fr 1fr;
}

.grid-2 {
  grid-row-gap: 33px;
  grid-template-rows: 35px 35px 35px repeat(auto-fit, 35px) 35px 35px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: ". . . Area-6"
                       "Area . . ."
                       "Area-2 . . ."
                       "Area-3 . . ."
                       "Area-4 . . ."
                       "Area-5 . . .";
  grid-auto-flow: row;
  position: fixed;
  top: 4%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.link-2 {
  color: #000;
  font-family: RemixB-Regular-QU-fixed---Copia, sans-serif;
  font-size: 68px;
  font-weight: 500;
  text-decoration: none;
}

.link-3 {
  color: #000;
  font-family: RemixB-Regular-QU-fixed---Copia, sans-serif;
  font-size: 68px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}

.link-4, .link-5, .link-6, .link-7 {
  color: #000;
  font-family: RemixB-Regular-QU-fixed---Copia, sans-serif;
  font-size: 68px;
  font-weight: 500;
  text-decoration: none;
}

.body {
  font-size: 25px;
}

.link-8 {
  color: #000;
  text-align: right;
  font-family: RemixB-Regular-QU-fixed---Copia, sans-serif;
  font-size: 78px;
  font-weight: 500;
  text-decoration: none;
  position: static;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 4px;
}

.text-block {
  max-height: 800px;
  float: left;
  clear: both;
  color: #000;
  -webkit-text-stroke-color: black;
  column-rule-color: black;
  cursor: auto;
  margin-bottom: auto;
  padding-bottom: 10px;
  font-family: RemixB-Regular-QU-fixed---Copia, sans-serif;
  font-size: 68px;
  line-height: 58px;
  transition: opacity .2s;
  display: block;
  position: absolute;
  top: auto;
  bottom: 4%;
  left: 0%;
  right: 0%;
  overflow: visible;
}

.text-block:focus {
  padding-bottom: 23px;
}

.grid-4 {
  grid-template-rows: auto auto auto;
}

.div-block-2 {
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.text-block-6 {
  padding-top: 28px;
}

@media screen and (min-width: 1920px) {
  .grid {
    max-width: 1860px;
    object-fit: fill;
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
    padding-bottom: 28px;
    font-family: RemixB-Regular-QU-fixed---Copia, sans-serif;
    display: flex;
    position: fixed;
    top: .8%;
    bottom: auto;
    left: 0%;
    right: 0%;
  }

  .link {
    text-transform: uppercase;
  }

  .grid-2 {
    grid-row-gap: 52px;
    grid-template-areas: ". . . Area-6"
                         "Area . . ."
                         "Area-2 . . ."
                         "Area-3 . . ."
                         "Area-4 . . ."
                         "Area-5 . . .";
    margin-top: 0;
    margin-left: 10px;
    padding-bottom: 20px;
    padding-right: 10px;
  }

  .link-2 {
    font-size: 92px;
    line-height: 88px;
  }

  .link-3, .link-4, .link-5, .link-6, .link-7 {
    padding-left: 10px;
    font-size: 92px;
    line-height: 88px;
  }

  .body {
    align-items: flex-end;
    display: flex;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
  }

  .link-8 {
    margin-right: 10px;
    padding-right: 0;
    font-size: 92px;
    line-height: 88px;
  }

  .text-block {
    letter-spacing: -1.8px;
    text-indent: -1.8px;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    font-size: 92px;
    font-weight: 500;
    line-height: 88px;
    display: inline-block;
    position: fixed;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .text-span {
    align-items: flex-start;
    padding-left: 10px;
    display: block;
  }

  .link-9 {
    color: #000;
    text-align: right;
    padding-right: 10px;
    font-family: Remixb Regular Qu Fixed Copia, sans-serif;
    font-size: 92px;
    font-weight: 500;
    line-height: 88px;
    text-decoration: none;
  }

  .grid-3 {
    grid-column-gap: 16px;
    grid-row-gap: 1px;
    grid-template: "Area . . Area-7"
                   "Area-2 . . ."
                   "Area-3 . . ."
                   "Area-4 . . ."
                   "Area-5 . . ."
                   "Area-6 . . ."
                   / 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    align-items: stretch;
    justify-items: stretch;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
  }

  .link-10 {
    color: #000;
    padding-top: 0;
    font-family: Remixb Regular Qu Fixed Copia, sans-serif;
    font-size: 87px;
    font-weight: 500;
    line-height: 83px;
    text-decoration: none;
  }

  .link-11 {
    font-family: RemixB-Regular-QU-fixed---Copia, sans-serif;
  }

  .link-12, .link-13, .link-14, .link-15, .link-16 {
    color: #000;
    font-family: RemixB-Regular-QU-fixed---Copia, sans-serif;
    font-size: 87px;
    font-weight: 500;
    line-height: 83px;
    text-decoration: none;
  }

  .link-17 {
    color: #000;
    text-align: right;
    font-family: RemixB-Regular-QU-fixed---Copia, sans-serif;
    font-size: 87px;
    font-weight: 500;
    line-height: 83px;
    text-decoration: none;
  }

  .grid-4 {
    grid-row-gap: 0px;
    grid-template: "Area . . Area-7"
                   "Area-2 . . ."
                   "Area-3 . . ."
                   "Area-4 . . ."
                   "Area-5 . . ."
                   "Area-6 . . ."
                   / 1fr 1fr 1fr 1fr;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
  }

  .link-18, .link-19, .link-20, .link-21 {
    color: #000;
    font-family:RemixB-Regular-QU-fixed---Copia, sans-serif;
    font-size: 87px;
    font-weight: 500;
    line-height: 83px;
    text-decoration: none;
  }

  .link-22 {
    font-family: RemixB-Regular-QU-fixed---Copia, sans-serif;
  }

  .link-23, .link-24 {
    color: #000;
    font-family: RemixB-Regular-QU-fixed---Copia, sans-serif;
    font-size: 87px;
    font-weight: 500;
    line-height: 83px;
    text-decoration: none;
  }

  .link-25 {
    color: #000;
    text-align: right;
    font-family: RemixB-Regular-QU-fixed---Copia, sans-serif;
    font-size: 87px;
    font-weight: 500;
    line-height: 83px;
    text-decoration: none;
  }

  .text-block-2 {
    color: #000;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
    font-family: RemixB-Regular-QU-fixed---Copia, sans-serif;
    font-size: 87px;
    font-weight: 500;
    line-height: 83px;
    position: absolute;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .grid-5 {
    grid-template: "Area . . Area-2"
    / 1fr 1fr 1fr 1fr;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .link-26 {
    color: #000;
    letter-spacing: -2px;
    font-family: RemixB-Regular-QU-fixed---Copia, sans-serif;
    font-size: 87px;
    font-weight: 500;
    line-height: 83px;
    text-decoration: none;
  }

  .link-27 {
    color: #000;
    text-align: right;
    letter-spacing: -2px;
    font-family: RemixB-Regular-QU-fixed---Copia, sans-serif;
    font-size: 87px;
    font-weight: 500;
    line-height: 83px;
    text-decoration: none;
  }

  .container {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .paragraph {
    color: #000;
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 600px;
    font-family: RemixB-Regular-QU-fixed---Copia, sans-serif;
    font-size: 35px;
    font-weight: 500;
    line-height: 37px;
  }

  .grid-6 {
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .grid-7 {
    grid-template: "Area . . Area-7"
                   "Area-2 . . ."
                   "Area-3 . . ."
                   "Area-4 . . ."
                   "Area-5 . . ."
                   "Area-6 . . ."
                   / 1fr 1fr 1fr 1fr;
  }

  .body-2 {
    object-fit: fill;
    margin-right: auto;
    overflow: visible;
  }

  .grid-8 {
    grid-column-gap: 201px;
    grid-row-gap: 18px;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-columns: 5fr 5fr 5fr 5fr 0fr;
    grid-auto-columns: 5fr;
    grid-auto-flow: column dense;
  }

  .div-block {
    width: 1900px;
    max-width: 1900px;
    object-fit: contain;
    overflow: visible;
  }

  .grid-9 {
    grid-column-gap: 10px;
    grid-row-gap: 9px;
    grid-template: "Area . . Area-7" 87px
                   "Area-2 . . Area-8" 87px
                   "Area-3 . . ." 87px
                   "Area-4 . . ." 87px
                   "Area-5 . . ." 87px
                   "Area-6 . . ." 87px
                   / 1fr 1fr 1fr 1fr;
    grid-auto-rows: 83px;
  }

  .link-block {
    height: 87px;
    opacity: 1;
    direction: ltr;
    color: #000;
    text-align: left;
    letter-spacing: -2px;
    text-transform: uppercase;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .2);
    column-count: 1.5;
    white-space: normal;
    cursor: auto;
    mix-blend-mode: lighten;
    margin-top: auto;
    padding-top: 32px;
    font-family: Remixb Regular Qu Fixed Copia, sans-serif;
    font-size: 90px;
    font-weight: 400;
    text-decoration: none;
    position: static;
  }

  .link-block-2 {
    height: 87px;
    color: #000;
    letter-spacing: -2px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .2);
    column-count: 1.5;
    mix-blend-mode: lighten;
    padding-top: 32px;
    font-family: Remixb Regular Qu Fixed Copia, sans-serif;
    font-size: 90px;
    font-weight: 400;
    text-decoration: none;
    transition: opacity .2s;
    transform: translate(0);
  }

  .link-block-3 {
    height: 87px;
    color: #000;
    letter-spacing: -2px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .2);
    column-count: 1.5;
    white-space: normal;
    padding-top: 32px;
    font-family: RemixB-Regular-QU-fixed---Copia, sans-serif;
    font-size: 90px;
    font-weight: 400;
    text-decoration: none;
  }

  .link-block-4 {
    height: 87px;
    color: #000;
    letter-spacing: -2px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .2);
    column-count: 1.5;
    padding-top: 32px;
    font-family: RemixB-Regular-QU-fixed---Copia, sans-serif;
    font-size: 90px;
    font-weight: 400;
    text-decoration: none;
  }

  .link-block-5 {
    height: 87px;
    direction: ltr;
    color: #000;
    letter-spacing: -2px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .2);
    column-count: 1.5;
    object-fit: fill;
    justify-content: flex-start;
    align-items: stretch;
    padding-top: 32px;
    font-family: RemixB-Regular-QU-fixed---Copia, sans-serif;
    font-size: 90px;
    font-weight: 400;
    text-decoration: none;
    display: block;
  }

  .link-block-6 {
    height: 87px;
    color: #000;
    letter-spacing: -2px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .2);
    column-count: 1.5;
    padding-top: 32px;
    font-family: RemixB-Regular-QU-fixed---Copia, sans-serif;
    font-size: 90px;
    font-weight: 400;
    text-decoration: none;
    position: static;
  }

  .link-block-7 {
    height: 87px;
    max-width: 1860px;
    color: #000;
    letter-spacing: -2px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .2);
    column-count: 1.5;
    padding-top: 32px;
    font-family: RemixB-Regular-QU-fixed---Copia, sans-serif;
    font-size: 90px;
    font-weight: 400;
    text-decoration: none;
  }

  .section {
    position: absolute;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .text-block-3 {
    max-width: 1860px;
    color: #000;
    letter-spacing: -2px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .2);
    column-count: 1.5;
    object-fit: contain;
    margin-bottom: 28px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    padding-bottom: 0;
    font-family: RemixB-Regular-QU-fixed---Copia, sans-serif;
    font-size: 90px;
    font-weight: 400;
    line-height: 87px;
    display: block;
    position: fixed;
    bottom: 2px;
    left: 58px;
    overflow: visible;
  }

  .grid-10 {
    grid-template: "."
    / 3fr;
  }

  .text-block-4 {
    width: 1860px;
    max-width: 1860px;
    color: #000;
    object-fit: fill;
    margin-bottom: 28px;
    margin-left: 0;
    padding-left: 0;
    font-family: Abcmonumentgrotesk;
    font-size: 87px;
    font-weight: 500;
    line-height: 83px;
    position: fixed;
    top: auto;
    bottom: 2%;
    left: 0%;
    right: 0%;
    overflow: visible;
  }

  .grid-11 {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .grid-12 {
    height: 87px;
    max-width: 1860px;
    grid-column-gap: 16px;
    grid-row-gap: 13px;
    object-fit: fill;
    grid-template: "Area . . Area-2" 87px
    / 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    align-content: start;
    justify-content: start;
    align-items: start;
    justify-items: start;
    padding-left: 0;
    display: grid;
    position: fixed;
    top: 10px;
  }

  .text-block-5 {
    height: 87px;
    max-width: 1860px;
    color: #000;
    letter-spacing: -2px;
    column-count: 1.5;
    object-fit: contain;
    margin-bottom: 28px;
    padding-top: 32px;
    font-family: RemixB-Regular-QU-fixed---Copia, sans-serif;
    font-size: 87px;
    font-weight: 500;
    display: block;
    position: fixed;
    top: 2%;
    bottom: auto;
    left: 0%;
    right: 0%;
  }

  .link-28 {
    color: #000;
    padding-top: 32px;
    font-family: RemixB-Regular-QU-fixed---Copia, sans-serif;
    font-size: 87px;
    font-weight: 500;
    text-decoration: none;
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: auto;
  }

  .link-29 {
    height: 87px;
    color: #000;
    letter-spacing: -2px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .2);
    column-count: 1.5;
    padding-top: RemixB-Regular-QU-fixed---Copia, sans-serif;
    font-size: 87px;
    font-weight: 500;
    text-decoration: none;
    display: block;
  }

  .link-30 {
    color: #000;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .2);
    padding-top: 32px;
    font-family: RemixB-Regular-QU-fixed---Copia, sans-serif;
    font-size: 87px;
    font-weight: 500;
    text-decoration: none;
  }

  .grid-13 {
    grid-column-gap: 13px;
    grid-template: ". Area"
    / 1fr 2.25fr 1fr;
    position: static;
  }

  .paragraph-2 {
    min-height: 10px;
    color: #000;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .2);
    margin-top: 92px;
    padding: 34px 20px 10px 141px;
    font-family: RemixB-Regular-QU-fixed---Copia, sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 45px;
    position: -webkit-sticky;
    position: sticky;
    transform: translate(0);
  }

  .div-block-2 {
    height: 87px;
    max-width: 1860px;
    clear: none;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    color: #000;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .2);
    object-fit: contain;
    grid-template: "Area . . Area-2"
    / 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    align-content: start;
    justify-content: center;
    align-items: start;
    justify-items: center;
    margin: 20px 28px 28px;
    font-family: RemixB-Regular-QU-fixed---Copia, sans-serif;
    font-size: 90px;
    font-weight: 400;
    text-decoration: none;
    display: grid;
    position: fixed;
    top: .8%;
    bottom: auto;
    left: 0%;
    right: 0%;
  }

  .grid-14 {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }

  .text-block-6 {
    height: 87px;
    color: #000;
    letter-spacing: -2px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .2);
    column-count: 1.5;
    object-fit: contain;
    margin-top: 11px;
    margin-left: 28px;
    padding-top: 0;
    padding-left: 0;
    font-family: RemixB-Regular-QU-fixed---Copia, sans-serif;
    font-size: 87px;
    font-weight: 500;
    position: fixed;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
  }

  .div-block-3 {
    height: 87px;
    color: #000;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .2);
    padding-top: 32px;
    font-family: RemixB-Regular-QU-fixed---Copia, sans-serif;
    font-size: 87px;
    font-weight: 500;
    text-decoration: none;
  }

  .link-31 {
    height: 87px;
    max-width: 1860px;
    clear: none;
    color: #000;
    letter-spacing: -2px;
    text-transform: none;
    justify-content: flex-end;
    padding-top: 32px;
    font-family: RemixB-Regular-QU-fixed---Copia, sans-serif;
    font-size: 90px;
    font-weight: 400;
    text-decoration: none;
    display: flex;
    position: static;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: auto;
  }

  .text-block-7 {
    height: 87px;
    max-width: 1860px;
    outline-offset: 0px;
    color: #fff;
    letter-spacing: -2px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    column-count: 1.5;
    outline: 3px #000;
    padding-top: 32px;
    font-family: RemixB-Regular-QU-fixed---Copia, sans-serif;
    font-size: 90px;
    font-weight: 400;
  }

  .link-32 {
    height: 87px;
    max-width: 1860px;
    color: #fff;
    text-align: right;
    letter-spacing: -2px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    white-space: normal;
    object-fit: fill;
    padding-top: 32px;
    text-decoration: none;
  }

  .grid-15 {
    grid-template: ". Area"
    / 1fr 3fr;
  }

  .text-block-8 {
    color: #000;
    letter-spacing: -2px;
    white-space: break-spaces;
    font-family: RemixB-Regular-QU-fixed---Copia, sans-serif;
    font-size: 53px;
    line-height: 56px;
    transform: translate(0);
  }

  .text-block-9 {
    color: #000;
    letter-spacing: -2px;
    margin-left: 465px;
    padding-left: 40px;
    font-family: RemixB-Regular-QU-fixed---Copia, sans-serif;
    font-size: 53px;
    font-weight: 400;
    line-height: 56px;
    overflow: scroll;
  }

  .grid-16 {
    height: 87px;
    max-width: 1860px;
    color: #000;
    letter-spacing: -2px;
    column-count: 1.5;
    grid-template: "Area . . Area-2"
    / 1fr 1fr 1fr 1fr;
    align-content: start;
    justify-content: center;
    align-items: start;
    justify-items: center;
    margin: 20px 20px 28px;
    font-family: RemixB-Regular-QU-fixed---Copia, sans-serif;
    font-size: 90px;
  }

  .link-33 {
    height: 87px;
    max-width: 1860px;
    color: #000;
    text-align: right;
    justify-content: flex-end;
    padding-top: 32px;
    text-decoration: none;
    display: flex;
  }

  .text-block-10 {
    height: 87px;
    max-width: 1860px;
    color: #fff;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    padding-top: 32px;
  }

  .link-34 {
    height: 87px;
    max-width: 1860px;
    color: #fff;
    text-align: right;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    column-count: 1.5;
    padding-top: 32px;
    text-decoration: none;
  }

  .text-block-11 {
    float: none;
    clear: left;
    color: #000;
    text-align: left;
    letter-spacing: -2px;
    text-indent: 0;
    column-count: 1.5;
    font-family: RemixB-Regular-QU-fixed---Copia, sans-serif;
    font-size: 53px;
    line-height: 56px;
  }

  .div-block-4 {
    height: 87px;
    max-width: 1860px;
    margin: 20px 20px 28px;
  }

  .grid-17 {
    height: 87px;
    max-width: 1860px;
    color: #fff;
    letter-spacing: -2px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    column-count: 87;
    white-space: normal;
    object-fit: contain;
    grid-template: "Area . . Area-2"
    / 1fr 1fr 1fr 1fr;
    align-content: start;
    justify-content: center;
    align-items: start;
    justify-items: center;
    margin: 20px 28px 28px;
    font-family: RemixB-Regular-QU-fixed---Copia, sans-serif;
    font-size: 90px;
    position: fixed;
    top: .8%;
    bottom: auto;
    left: 0%;
    right: 0%;
  }

  .text-block-12 {
    height: 87px;
    max-width: 1860px;
    column-count: 1.5;
    padding-top: 32px;
  }

  .link-35 {
    height: 87px;
    max-width: 1860px;
    color: #fff;
    text-align: right;
    -webkit-text-stroke-color: black;
    column-count: 1.5;
    padding-top: 32px;
    text-decoration: none;
  }

  .grid-18 {
    height: 87px;
    max-width: 1860px;
    object-fit: contain;
    grid-template: "Area . . Area-2"
    / 1fr 1fr 1fr 1fr;
    align-content: start;
    justify-content: center;
    align-items: start;
    justify-items: center;
    margin: 20px 28px 28px;
    position: fixed;
    top: .8%;
    bottom: auto;
    left: 0%;
    right: 0%;
  }

  .text-block-13 {
    height: 87px;
    max-width: 1860px;
    color: #fff;
    letter-spacing: -2px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    column-count: 1.5;
    padding-top: 32px;
    font-family: RemixB-Regular-QU-fixed---Copia, sans-serif;
    font-size: 90px;
    font-weight: 400;
  }

  .link-36 {
    height: 87px;
    max-width: 1860px;
    color: #fff;
    text-align: right;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    padding-top: 32px;
    font-family: RemixB-Regular-QU-fixed---Copia, sans-serif;
    font-size: 90px;
    font-weight: 400;
    text-decoration: none;
  }

  .video {
    max-width: 1860px;
    margin: 100px 28px 28px;
    position: fixed;
    top: 40px;
  }

  .grid-19 {
    grid-column-gap: 45px;
    grid-row-gap: 0px;
    grid-template-rows: 75px auto auto auto auto auto auto;
    grid-template-columns: 1fr 2.25fr;
  }

  .paragraph-3 {
    color: #000;
    margin-left: 465px;
    font-family:RemixB-Regular-QU-fixed---Copia, sans-serif;
    font-size: 53px;
    font-weight: 400;
    line-height: 56px;
  }

  .paragraph-4 {
    height: 53px;
    max-width: 1860px;
    color: #000;
    margin-top: 54px;
    margin-left: 465px;
    padding-top: 0;
    font-family: RemixB-Regular-QU-fixed---Copia, sans-serif;
    font-size: 53px;
    line-height: 56px;
  }

  .text-block-14 {
    height: 90px;
    max-width: 1860px;
    color: #000;
    text-align: justify;
    letter-spacing: -2px;
    column-count: 1.5;
    object-fit: fill;
    margin-top: -20px;
    margin-left: 20px;
    padding-top: 10px;
    font-family: RemixB-Regular-QU-fixed---Copia, sans-serif;
    font-size: 53px;
    line-height: 56px;
    overflow: visible;
  }

  .heading {
    max-width: 465px;
  }

  .grid-20 {
    grid-column-gap: 0px;
    grid-template: "Area Area-2"
    / 1fr 3.25fr;
  }

  .heading-2 {
    height: 53px;
    max-width: 1860px;
    color: #fff;
    letter-spacing: -2px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    column-count: 1.5;
    margin-left: 28px;
    margin-right: 28px;
    font-family: RemixB-Regular-QU-fixed---Copia, sans-serif;
    font-size: 53px;
    font-weight: 400;
    line-height: 56px;
    position: static;
  }
  .heading-2 {
    height: 53px;
    max-width: 1860px;
    color: #fff;
    letter-spacing: -2px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    column-count: 1.5;
    margin-left: 28px;
    margin-right: 28px;
    font-family: RemixB-Regular-QU-fixed---Copia, sans-serif;
    font-size: 53px;
    font-weight: 400;
    line-height: 56px;
    position: static;
  }

  .text-block-15 {
    height: 53px;
    color: #000;
    letter-spacing: -2px;
    column-count: 1.5;
    margin-top: 20px;
    margin-right: 28px;
    font-family: RemixB-Regular-QU-fixed---Copia, sans-serif;
    font-size: 53px;
    font-weight: 400;
    line-height: 56px;
  }

  .grid-21 {
    height: 87px;
    max-width: 1860px;
    color: #fff;
    letter-spacing: -2px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    grid-template: "Area . . Area-2"
    / 1fr 1fr 1fr 1fr;
    align-content: start;
    justify-content: center;
    align-items: start;
    justify-items: center;
    margin: 20px 20px 28px;
    padding-top: 32px;
    font-family: RemixB-Regular-QU-fixed---Copia, sans-serif;
    font-size: 53px;
    line-height: 56px;
  }

  .link-37 {
    color: #fff;
    text-align: right;
    font-size: 90px;
    line-height: 83px;
    text-decoration: none;
  }

  .text-block-16 {
    font-size: 90px;
  }

  .grid-22 {
    grid-template: "Area . . Area-2"
    / 1fr 1fr 1fr 1fr;
    align-content: start;
    justify-content: center;
    align-items: start;
    justify-items: center;
    margin: 20px 28px 28px;
  }

  .text-block-17 {
    height: 87px;
    max-width: 1860px;
    color: #fff;
    letter-spacing: -2px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    column-count: 1.5;
    padding-top: 32px;
    font-family: RemixB-Regular-QU-fixed---Copia, sans-serif;
    font-size: 90px;
    font-weight: 400;
  }

  .link-38 {
    height: 87px;
    max-width: 1860px;
    color: #fff;
    text-align: right;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    padding-top: 32px;
    font-family: Remixb Regular Qu Fixed Copia, sans-serif;
    font-size: 90px;
    text-decoration: none;
  }

  .grid-23 {
    grid-template-rows: auto;
    align-content: end;
    align-items: end;
    margin-bottom: 10px;
  }

  .text-block-18 {
    height: 87px;
    max-width: 1860px;
    color: #000;
    text-align: left;
    letter-spacing: -2px;
    column-count: 1.5;
    font-family: Remixb Regular Qu Fixed Copia, sans-serif;
    font-size: 35px;
  }

  .section-2 {
    -webkit-backdrop-filter: blur(5px) blur(5px) blur(5px) blur(5px);
    backdrop-filter: blur(5px) blur(5px) blur(5px) blur(5px);
    text-align: center;
  }

  #w-node-a8f5501d-4c30-5729-3200-9af96ab3b2c7-0b23fe66 {
    grid-area: Area-5;
    align-self: baseline;
  }

  #w-node-c82e2d9b-3ff0-83ed-bf6e-8c3f62e24bfd-0b23fe66 {
    grid-area: Area-7;
    align-self: baseline;
    justify-self: end;
  }

  #w-node-_5f22cff5-3f7b-2349-85d9-b9a9a04d4f83-0b23fe66 {
    grid-area: Area-6;
    align-self: baseline;
  }

  #w-node-_56310cc5-cdec-4199-39fe-59cb93287971-0b23fe66 {
    grid-area: Area-4;
    align-self: baseline;
  }

  #w-node-_654a053d-fbf3-806e-a834-b3002c42ed3c-0b23fe66 {
    grid-area: Area-3;
    align-self: baseline;
  }

  #w-node-_8f804342-2b17-4380-c259-8cfc2d5d360f-0b23fe66 {
    grid-area: Area-2;
    align-self: baseline;
  }

  #w-node-_3ed617dd-0698-d63d-fd53-4e6886612f3e-0b23fe66 {
    grid-area: Area;
    align-self: baseline;
    justify-self: auto;
  }

  #w-node-ad769a63-4c84-41d4-ff9c-4c555de90bcd-5de90bcc {
    grid-area: Area;
  }

  #w-node-ad769a63-4c84-41d4-ff9c-4c555de90bcf-5de90bcc {
    grid-area: Area-2;
    justify-self: end;
  }

  #w-node-_50ad3af2-7dba-ae14-2e9e-edf265c5c689-65c5c688 {
    grid-area: Area;
    justify-self: start;
  }

  #w-node-_50ad3af2-7dba-ae14-2e9e-edf265c5c68b-65c5c688 {
    grid-area: Area-2;
    justify-self: end;
  }

  #w-node-_9f3f76a8-91a0-cd32-ae8e-74276c18a214-8905dc0d {
    grid-area: Area;
    justify-self: start;
  }

  #w-node-_00faae25-3d42-6b40-3079-cfb3468938ec-8905dc0d {
    grid-area: Area-2;
    justify-self: end;
  }

  #w-node-_22037f62-e0c8-4e60-89a1-4fd97883791c-82d138a8 {
    grid-area: Area;
  }

  #w-node-eaaca3bd-ca50-67c0-8bdb-5a555ee91748-82d138a8 {
    grid-area: Area-2;
    justify-self: end;
  }

  #w-node-_3bde6cf0-c308-1602-4b9a-af93ebef3f26-82d138a8 {
    grid-area: Area-2;
  }

  #w-node-b73b1bcd-877d-01ed-a814-2c904b7757ef-82d138a8 {
    grid-area: Area;
  }

  #w-node-_2f7b1a40-73b1-0c80-48f6-5b5173f8514f-82d138a8 {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }

  #w-node-_867cf18f-162f-cc92-dae4-1b7334becf6f-a6a15fb6 {
    grid-area: Area;
    align-self: baseline;
    justify-self: start;
  }

  #w-node-_23a9b9b6-f8b9-7e5c-6b19-e9da01e50095-a6a15fb6 {
    grid-area: Area-2;
    justify-self: end;
  }
}


@font-face {
  font-family: 'RemixB-Regular-QU-fixed---Copia';
  src: url('../fonts/RemixB-Regular-QU-fixed---Copia.TTF') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
